@using AppHarborMongoDBDemo.Models
@model Resume<WorkExperience>

@{
	ViewBag.Title = "New";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>
<div>
	@using (Html.BeginForm("Create", "Home")){
		<p>
		@*	@Html.LabelFor(x => x.Id)
*@			Resume Name: @Html.TextBoxFor(x => x.ResumeName) <br />
            Years Experience (int): @Html.TextBoxFor(x => x.Message.YearsExperience)<br />


		</p>
		<p>
			<input type="submit" value="Submit" />
		</p>
	}
</div>
