@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/Shared/_ResumeLayout.cshtml";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Daryl Chymko | Web Developer | dchymko@infometrix.ca</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/resume.css")" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Daryl Chymko</h1>
					<h2>Web Developer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="http://www.web2pdfconvert.com/convert">Download PDF</a></h3>
						<h3><a href="mailto:dchymko@infometrix.ca">dchymko@infometrix.ca</a></h3>
						<h3>(250) - 859-0222</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Daryl works with exceptional teams building great applications that people love to use.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Web Programming</h2>
									<p>ASP.NET, C#, VB, PHP, Kohana, Java,HTML5, AJAX, jQuery.	</p>
								</div>

								<div class="talent">
									<h2>Database</h2>
									<p>Advanced queries & optimization in MSSQL & MySQL. </p>
								</div>

								<div class="talent">
									<h2>API</h2>
									<p>Zendesk, Facebook, Twilio, Twitter using JSON, XML, SOAP and REST.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>ASP.NET</li>
								<li>C#</li>
								<li class="last">PHP</li>
							</ul>

							<ul class="talent">
								<li>HTML5</li>
								<li>APIs</li>
								<li class="last">Git / Subversion</li>
							</ul>

							<ul class="talent">
								<li>Windows/Linux deployments</li>
								<li>MSSQL/MySQL</li>
								<li class="last">Java</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Universal Mind</h2>
								<h3>Contracted Developer</h3>
								<h4>2011-2012</h4>
								<p><ul><li>Developed credit application web services for major North American bank using  .NET WCF & MVC3
<li>Built customized CMS for interior design firm with SiteFinity, C#.NET and WCF Web Services 
<li>Provided problem solving & best practices advice on issues and technical challenges

</ul></p>
							</div>



                            <div class="job">
								<h2>infoMetrix</h2>
								<h3>Owner / Senior Developer</h3>
								<h4>1999-Present</h4>
								<p><ul><li>Built a PHP Facebook app that has thousand of interactions per day by a user base of over one million.
                                <li>Created a career-based web application with advanced resume searching and matching logic
                                <li>Worked with brands such as Nestle and Free the Children
                                </ul></p>
							</div>

							<div class="job">
								<h2>Yamnuska Mountain Adventures</h2>
								<h3>Contracted Web Consultant</h3>
								<h4>2011-2012</h4>
								<p><ul>
                                <li>Developed a trip reservation system that integrated with a 3rd party CRM via web services
                                <li>Implemented cross-platform encryption between servers to protect sensitive credit card data
                                <li>Led project communications and conveyed technical terminology to the client in business terms
                                </ul>
                                </p>
							</div>

                            <div class="job last">
								<h2>Fujistu</h2>
								<h3>Contracted Web Developer</h3>
								<h4>2001-2004</h4>
								<p><ul><li>Built a web-based exam system that would see daily use in testing centers across Canada
                                    <li>Created web forms for applicants to electronically apply to provincial apprenticeship programs
                                    </ul>
</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->





				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Daryl Chymko &mdash; <a href="mailto:dchymko@infometrix.ca">dchymko@infometrix.ca</a> &mdash; (250) - 859-0222</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

